<div class="container m-5">
  <div class="row">
    <div class="col-md-6 mx-auto">

      <h1>welcome to <strong>Meshiterro!!</strong></h1>
      <p>in <strong>meshiterro,</strong></p>
      <p>SNS community that indiscriminately stimulates theappetite of sensible citizens.</p>

      <div>
        <%=link_to user_session_path do %>
        <botton type="button" class="btn btn-info mr-3">Log in</botton>
        <% end %>

        <%=link_to new_user_registration_path do %>
        <botton type="button" class="btn btn-success">Sign Up</botton>
        <% end %>
      </div>
    </div>
  </div>
</div>